.filmobject {
    display: flex;
    gap: 10px;
    text-align: center;
    width: 234px;
    height: 365px;
    border-radius: 8px;
    font-size: 20px;
    background-size: cover; background-repeat: no-repeat; background-position: center;
}

.overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  pointer-events: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.filmpopup{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #181A1C;
  width: 100%;
  max-width: 750px;
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: auto;
  height: 100%;
  max-height: 650px;
}

.bigpicture{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  position: relative;
}

.closebigpicture{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 90%;
  z-index: 11;
  height: 40px;
  width: 40px;
  background-color: black;
}

.boxjudulfilm{
  position: absolute;
  bottom: 0;
}

.mulaifilm{
  display: flex;
  align-items: center;
}

.tombolmulai{
  height: 35px;
  width: 75px;
  background-color: blue;
}

.tombolfavorit{
  height: 35px;
  width: 35px;
  background-color: black;

}

.tombolclose{
  height: 35px;
  width: 100px;
  background-color: red;
}

.keteranganfilm{
  font-size: 18px;
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  .filmobject {
      width: 95px;
      height: 145px;
      gap: 4px;
  }
}