.arrayfilm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 10px;
    margin: 10px;
  }

  .films0, .films1, .films2, .films3, .films4 {
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    font-size: 20px;
    background-size: cover; background-repeat: no-repeat; background-position: center;
}

.top10{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 20%;
  height: 17%;
  margin-left: 75%;
  padding-top: 3%;
  position: absolute;
  bottom: 83%;
  border-radius: 10px 15px;
}

.filmwrapper {
  position: relative; 
}

.episodebaru {
  display: flex;
  background: blue;
  font-size: 20px;
  width: 200px;
  border-radius: 10px;
  margin-left: 5px;
}

.episodebarufilm {
  display: flex;
  background: blue;
  font-size: 20px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  bottom: 90%;
  left: 5%;
}

  .tombolkiri {
    position: relative;
    left: 30px;
    background: transparent;
    border: 0;
    z-index: 1

  }
  
  .tombolkanan {
    position: relative;
    right: 30px;
    background: transparent;
    border: 0;
    z-index: 1
  }

@media only screen and (max-width: 600px) {
  .arrayfilm{
    margin-left: 250px; 
  }

  .top10{
    font-size: 11px;
    border-radius: 5px 10px;
  }
  
  .episodebaru{
    font-size: 11px;
  }

  .episodebarufilm{
    font-size: 11px;
    width: 100px;
  }

  .tombolkiri, .tombolkanan{
    display: none;
  }
}