.arrayfilm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 10px;
    margin: 10px;
  }

  .films0, .films1, .films2, .films3, .films4 {
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    font-size: 20px;
    background-size: cover; background-repeat: no-repeat; background-position: center;
}



.top10{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 20%;
  height: 17%;
  margin-left: 75%;
  padding-top: 3%;
  position: relative;
  bottom: 10px;
  border-radius: 10px 15px;
}

.episodebaru {
  background: blue;
  font-size: 20px;
  width: 70%;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  top: -100px;
}

  .tombolkiri {
    position: relative;
    left: 30px;
    background: transparent;
    border: 0
  }
  
  .tombolkanan {
    position: relative;
    right: 30px;
    background: transparent;
    border: 0
  }

@media only screen and (max-width: 600px) {
  .arrayfilm{
    margin-left: 250px; 
  }

  .films0, .films1, .films2, .films3, .films4  {
      width: 150px;
      height: 250px;
  }

  .top10{
    font-size: 11px;
    border-radius: 5px 10px;
  }
  
  .episodebaru{
    font-size: 11px;
  }

  .tombolkiri, .tombolkanan{
    display: none;
  }
}