*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.berandapage {
    background:rgba(24, 26, 28, 1);
    background-size: auto; background-repeat: no-repeat; background-position: center;
  }

.beranda{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  color: rgb(224,224,224);
  text-align: left;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
      
.hero {
  display: flex;         
  justify-content: center;        
  margin: 10px;
  font-size: 20px;
  align-items: center;
}

.kotakfilm {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font-size: 30px;
}

.kotakfilm > p{
  margin-left: 35px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-style: solid;
  border-top-color: grey;
  border-width: thin;
  padding: 3% ;
}

@media only screen and (max-width: 600px){
  body{
    overflow-x: hidden;
  }

  .kotakfilm {
    padding: 20px; 
  }
}